/* Style général */
html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #58bc82;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #58bc82;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

.navbar .nav-links a:hover {
    background-color: #58bc82;
    color: #f0f0f0;
}

/* Titres */
h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 40px;
    color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 10px 15px 10px 40px;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 200px;
    outline: none;
}

.search-input:hover, .search-input:focus {
    width: 300px;
    border-color: #58bc82;
    box-shadow: 0 0 10px rgba(66, 133, 244, 0.3);
}

.search-icon {
    position: absolute;
    top: 27%;
    left: 15px;
    color: #58bc82;
    pointer-events: none;
    transition: all 0.3s ease;
}

.search-container:hover .search-icon, 
.search-input:focus + .search-icon {
    color: #ddd;
}

button[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.image-swap-container {
    position: relative;

}

.image-swap-container img.default {
    top: 0;
    right: 0.1px;
    transition: opacity 0.3s ease;
}

.image-swap-container img.hover {
    position: absolute;
    top: 0;
    right: 0.1px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-swap-container:hover img.default {
    opacity: 0;
}

.image-swap-container:hover img.hover {
    opacity: 1;
}